process.env
hash.js
news.json
events.json
/data/
gruppenfoto.jpg
gruppenfoto2.png
gruppenfoto3.jpg
gruppenfoto3.png
titelbild.jpg
titelbild.png
titelbild.webp
impressum.html
datenschutz.html
/node_modules/
# Medien-Dateien ignorieren
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.mp4
*.webm
*.mov
*.avi
*.mkv
